{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-us"/>
    <title></title>
    <meta http-equiv="imagetoolbar" content="no"/>
  </head>
  <body>
      <form method="POST" action="{{ url_for('render') }}">
        <dl>
            {{ render_field(form.lang) }}
            {{ render_field(form.source) }}
            {{ render_field(form.line) }}
            {{ render_field(form.start) }}
            {{ render_field(form.highlight) }}
            {{ render_field(form.inline) }}
        </dt>
        <p><input type="submit" value="Format"/>
    </form>
  </body>
</html>
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjnago: #}
